@model WebApplication.Models.Parking

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Eliminar parqueadero";
}

<h2 class="mt-5">@ViewData["Title"]</h2>
<h3>Esta seguro que deseas eliminar este parqueadero</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-primary">Cancelar</a>
    </form>
</div>
